---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <ul class="tags">
    {% for tag in page.tags %}
      <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-content">
  <hr \><br \>
  License:
  {% comment %}Span is used to display buttons in single row on mobile devices{% endcomment %}
  <span style="display:inline-block; margin: 5pt">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License" style="border-width:0" src="/images/cc-by-sa.svg" height=32 /></a>
  </span>


  Share:
  {% comment %}Span is used to display buttons in single row on mobile devices{% endcomment %}
  <span style="display:inline-block; margin: 5pt">
  <a href="//www.reddit.com/submit?title={{ page.title | cgi_escape }}&url={{ site.url }}{{ page.url | cgi_escape }}"><img alt="share on reddit" src="/images/social-icons/reddit.svg" height=32 /></a>
  <a href="//news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url | cgi_escape }}&t={{ page.title | cgi_escape }}"><img alt="share on hacker news" src="/images/social-icons/hackernews.svg" height=32 /></a>
  <a href="//www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | cgi_escape }}"><img alt="share on facebook" src="/images/social-icons/facebook.svg" height=32 /></a>
  <a href="//twitter.com/share?url={{ site.url }}{{ page.url | cgi_escape }}"><img alt="share on twitter" src="/images/social-icons/twitter.svg" height=32 /></a>
  <a href="//www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | cgi_escape }}&title={{ page.title | cgi_escape }}"><img alt="share on linkedin" src="/images/social-icons/linkedin.svg" height=32 /></a>
  <a href="//slashdot.org/submission?url={{ site.url }}{{ page.url | cgi_escape }}"><img alt="share on slashdot" src="/images/social-icons/slashdot.svg" height=32 /></a>
  </span>
  </div>

  <div class="post-content">
{% comment %} Using undefined variables in Liquid is not an error {% endcomment %}
{% if page.comments_by_disqus %}
  <div id="disqus_thread"></div>
  <script>
  /**
  * https://disqus.com/admin/universalcode/#configuration-variables
  */

  // Allow comments to be loaded on localhost
  if ("{{ site.github_username }}.github.io" != window.location.host) { var disqus_developer = 1; }

  var disqus_config = function () {
  // Replace PAGE_URL with your page's canonical URL variable
  this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
  // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  this.page.identifier = "{{ page.url | replace:'index.html','' }}";
  this.page.title = "{{ page.title }}";
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//selivan-github-io.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>
      Comments <a href="https://disqus.com/?ref_noscript" rel="nofollow">powered by Disqus</a> are not loaded because you disabled JavaScript or block it with extenshions like Ghostery and Disconnect.me
  </noscript>

{% elsif page.comments_by_utterance %}

<script src="https://utteranc.es/client.js"
        repo="selivan/selivan.github.io"
        issue-term="pathname"
        label="Post Comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
<noscript>
  Comments powered by <a href="https://utteranc.es" rel="nofollow">utteranc.es</a> and GitHub  issues are not loaded because you JavaScript is disabled or blocked with extenshions like Ghostery and Disconnect.me
</noscript>

{% else %}

{% comment %}See https://shopify.github.io/liquid/filters/prepend/{% endcomment %}
{% comment %}page.id would be better, but {% endcomment %}
{% include gpgc_comments.html post_title=page.title %}

{% endif %}
  </div>

</article>
